{% extends 'movies/base.html' %}
{% block content %}
    <a href="{% url 'movie_form' %}">Back to form</a>
    <div class="container">
        <h1>Movie List</h1>
        {% if movie_list %}
            <ul>
                {% for movie in movie_list %}
                    <li><a href="{% url 'movie_detail' pk=movie.id %}">{{ movie.name }}</a></li>    
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no movie in the database yet.</p>
        {% endif %}
    </div>
{% endblock %}